.parent{
  display:flex;
  flex-direction:row;
  justify-content: center;
}
.childone{
  width:60%;
  padding:2%
  border:1px solid #ddd;
  margin:2%;
  box-shadow:3px 3px 3px pink;
  border-radius:20px;
}
.childone img{
  width:70%;
  height:40%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.childtwo{
  width:70%;
  padding:2%
  border:1px solid #ddd;
  margin:2%;
  box-shadow:3px 3px 3px pink;
  border-radius:20px;
}
@media only screen and (min-width:320px) and (max-width:480px){
  .parent{
    display:flex;
    flex-direction:column;
    justify-content: center;
  }
  .childone{
    width:50%;
    padding:2%
    border:1px solid #ddd;
    margin:2%;
    box-shadow:3px 3px 3px pink;
    border-radius:20px;
  }
  .childtwo{
    width:80%;
    padding:2%
    border:1px solid #ddd;
    margin:2%
    box-shadow: 3px 3px 3px pink;
    border-radius:20px;
  }
  img{
    width:40%;
    height:40%;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
}
